Options All -Indexes
<IfModule mod_rewrite.c>
DirectoryIndex index.php
RewriteEngine On
RewriteRule ^public/api/shopee/([^/\.]+)/?$ public/api/shopee.php?request=$1 [L]
RewriteRule ^public/api/lazada/([^/\.]+)/?$ public/api/lazada.php?request=$1 [L]
RewriteRule ^public/api/products/([^/\.]+)/?$ public/api/products.php?request=$1 [L]
RewriteRule ^public/api/orders/([^/\.]+)/?$ public/api/orders.php?request=$1 [L]
RewriteRule ^public/api/users/([^/\.]+)/?$ public/api/users.php?request=$1 [L]


RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteRule !^(public/|index\.php) [NC,F]


# Disable server signature start
    ServerSignature Off
# Disable server signature end
</IfModule>
