<html>

<form method="POST" action="https://internet-msinfo.000webhostapp.com/v1/api.php?request=payments_fasapay"> 
	<input type="Text" name="fp_acc" value="FP05267"><br>
		<input type="Text" name="fp_store" value="Forex4you"><br>
	<input type="Text" name="fp_item" value="Deposit to Forex4you account #8815109-7815db53fd6422cb"><br>
	<input type="Text" name="fp_amnt" value="5.00"><br>
	<input type="Text" name="fp_currency" value="USD"><br>
	<input type="Text" name="fp_comments" value="Deposit to Forex4you account #8815109-7815db53fd6422cb"><br>
	<input type="Text" name="fp_merchant_ref" value="8815109-7815db53fd6422cb"> <br>
	<input type="Text" name="fp_fee_mode" value="FiR" /> <br>
	<input type="Text" name="fp_success_url" value="https://account.forex4you.com/en/trader-account/balance/deposit/success/fasapay"><br>
	<input type="Text" name="fp_status_url" value="https://payment.eglobal-forex.com/en/payment-system/fasapay" /><br>
	<input type="Text" name="fp_success_method" value="POST" /><br>
	<input type="Text" name="fp_fail_url" value="https://my.octaidn.net/deposit/new/fp/"><br>
	<input type="Text" name="fp_fail_method" value="GET" /><br>
		<input type="Text" name="security_word" value="Forex4you" > <br>
	<input type="Text" name="fp_custom" value="8815109-7815db53fd6422cb" > <br>
	<input name="" type="submit">
</form>
</html>